.section{
    width:75%;
    margin-left:21%;
    margin-right:0%;
}

.sectionleft{
    width:30%;
    float:left;
    display: inline;
}

.sectionright{
    width:35%;
    margin-right:10%;
    float:right;
    display: inline;
    text-align: left;
}

.sectionrightf{
    width:35%;
    margin-right:10%;
    float:right;
    display: inline;
    text-align: left;
}

.tiporelt{
    margin-bottom: 1%;
    width:100%;
    float:left;
}

.nameinput{
    font-size: 14px
}

.hidediv{
    display: none;   
}

.graf{
    display: none;   
}

#divcolumn{
    height:600px;
    width:1000px;
    margin-left: auto;
    margin-right: auto
}

#divcombo{  
    height:600px;
    margin-left: auto;
    margin-right: auto
}

#divbar{ 
    height:600px;
    margin-left: auto;
    margin-right: auto
}

#divpie{ 
    height:600px;
    margin-left: auto;
    margin-right: auto
}

#nametable{
    font-size: 32px;
    color: #337ab7;    
}

#chart1{
    width:50%;
    height:600px;
    float:left;
    display: inline;
}

#chart2{
    width:50%;
    height:600px;
    float:left;
    display: inline;
}

#radiotela{
    float: bottom; 
    width: 400px; 
    margin: 0 auto;
}

.se-pre-con {
position: fixed;
left: 0px;
top: 0px;
width: 100%;
height: 100%;
z-index: 9999;
background: url("../img/Preloader_3.gif") center no-repeat rgba(255,255,255,0.8);
display: none;
}