.section{
    width:75%;
    margin-left:21%;
    margin-right:0%;
}

.sectionleft{
    width:30%;
    float:left;
    display: inline;
}

.sectionright{
    width:30%;
    margin-right:5%;
    float:right;
    display: inline;
    text-align: left;
}

#nametable{
    font-size: 32px;
    color: #337ab7;    
}
