.section{
    width:75%;
    margin-left:21%;
    margin-right:0%;
}

.sectionleft{
    width:30%;
    float:left;
    display: inline;
}

.sectionright{
    width:35%;
    margin-right:10%;
    float:right;
    display: inline;
    text-align: left;
}

.sectionrightf{
    width:35%;
    margin-right:10%;
    float:right;
    display: inline;
    text-align: left;
}

.tiporelt{
    margin-bottom: 1%;
    width:100%;
    float:left;
}

.nameinput{
    font-size: 14px
}

#divcolumn{
    height:600px;
}

#divcombo{  
    height:600px;
}

#divbar{ 
    height:600px;
}

#divpie{ 
    height:600px;
}

#hidediv{
    display: none;   
}

#nametable{
    font-size: 32px;
    color: #337ab7;    
}

#chart1{
    width:50%;
    height:600px;
    float:left;
    display: inline;
}

#chart2{
    width:50%;
    height:600px;
    float:left;
    display: inline;
}

#radiotela{
    float: bottom; 
    width: 400px; 
    margin: 0 auto;
}
